// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.background_image h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 80px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

}
.background_image p {
  font-size: 15px;
  font-weight: lighter;
  color: black;
  margin-bottom: 20px;
}

select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #555;
  font-size: inherit;
  margin-bottom: 20px;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.gender_card {
  width: 250px;
  border-radius: 50%;
  background: transparent;
  text-align: left;
  padding-top: 20px;
}

.gender_card img{
transition: transform 200ms;

}

.gender_card img:hover{
  transform: scale(1.2);
}
