<div class=wrapper-image-blur>

  <div class="container">
    <div class="row" id="names-results">

      <div class="col-sm-8 col-sm-offset-2">
        <h3>Let us know about your preferences</h3>

        <form id="search-form"  action="javascript:App.names.refreshList()">

          <div class="form-group">
            <label for="origin1">Mummy's Origin</label>
            <br>
              <input type="text" name="origin1"
              type="text"
              class="form-control"
              autocomplete="off">
          </div>

          <div class="form-group">
            <label for="origin2">Daddy's Origin</label>
            <br>
            <input type="text" name="origin2"
            type="text"
            class="form-control"
            autocomplete="off">
          </div>

          <div class="form-group" name="occurrence">
            <input type="hidden" name="occurrence">
            <label>Occurrence</label>
            <br>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" value="very rare">Very rare</button>
              <button type="button" class="btn btn-default" value="rare">Rare</button>
              <button type="button" class="btn btn-default" value="moderate">Moderate</button>
              <button type="button" class="btn btn-default" value="common">Common</button>
            </div>
          </div>


          <div class="form-group" name="length">
            <input type="hidden" name="length">
            <label>Length</label>
            <br>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" value="short">Short</button>
              <button type="button" class="btn btn-default" value="medium">Medium</button>
              <button type="button" class="btn btn-default" value="long">Long</button>
            </div>
          </div>

          <input type="submit" style="display: none">

        </form>
        <br>

        <h3>This are our name suggestions for your baby:</h3>
        <div id="names-list">
          <!-- Names inserted via Javascript -->
        </div>

      </div>

    </div>
  </div>




  <script id="name-entry" type="x-tmpl-mustache">
    <div class="name-card">
      <div class="name-result">

        <a href="/name?name={{name.name}}">{{name.name}}</a>
        </div>

        <br/>

    <div class="fb-share-button" data-href="https://nomonomo.herokuapp.com/name?name={{name}}" data-layout="button" data-mobile-iframe="true">
      <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fnomonomo.herokuapp.com/name?name={{name.name}}%2F&amp;src=sdkpreparse">
        Share
      </a>
    </div>

  </div>
</script>

<script>
  function initialize() {

    let gender = url('?gender'),
    template = $('#name-entry').html();

    // Bind Origin input to autocomplete
    $('#search-form [name=origin1], #search-form [name=origin2]')
    .autocomplete({
      source: function(request, callback) {
        $.get({
          url: `/origins?` + $.param({ origin: request.term }),
          success: callback
        });
      },
      minLength: 2,
      select: refreshList
    });

    // Bind Buttons
    $('#search-form [name=occurrence] button')
    .click(function(event) {
      $('#search-form [name=occurrence] input').val(event.target.value);
      refreshButtons();
      refreshList();
    });
    $('#search-form [name=length] button')
    .click(function(event) {
      $('#search-form [name=length] input').val(event.target.value);
      refreshButtons();
      refreshList();
    });

    Mustache.parse(template);

    function renderList(names) {
      var rendered = names.map(function(name) {
        return Mustache.render(template, {
          name: name,
          origins: name.origin.map(origin => origin.origin)
        });
      }).join('');
      $('#names-list').html(rendered);
    }

    var lastRequest;

    function reloadContent(queryString) {
      if(lastRequest) {
        lastRequest.abort();
      }
      lastRequest = $.get({
        url: `/names/${gender}?${queryString}`,
        success: renderList
      });
    }

    var reloadContentThrottled =
    _.debounce(reloadContent, 200);

    function refreshList() {
      let queryString = $('#search-form').serialize();
      location.hash = '!?' + queryString;
      reloadContentThrottled(queryString);
    }

    function refreshButtons() {
      $('#search-form [name=occurrence] button')
      .each((i, button) => {
        let input = $('#search-form [name=occurrence] input'),
        state = button.value === input.val();
        $(button).toggleClass('btn-primary', state);
      });
      $('#search-form [name=length] button')
      .each((i, button) => {
        let input = $('#search-form [name=length] input'),
        state = button.value === input.val();
        $(button).toggleClass('btn-primary', state);
      });
    }

    if(/#!\?/.test(location.hash)) {
      location.hash.substring(3).split('&')
      .map(param => param.split('='))
      .filter(param => param[1])
      .forEach(param => {
        $(`input[name=${param[0]}]`).val(param[1]);
      });
    }
    refreshButtons();
    refreshList();

    (function() {

      this.App || (this.App = {});

      App.names = {
        refreshList: refreshList
      }

    }).call(this);

  };

  document.addEventListener('turbolinks:load', initialize);

</script>
</div>
