<% if params[:gender] == "feminine"%>
<div class=wrapper-image-blur-feminine></div>
<% else %>
<div class=wrapper-image-blur-masculine></div>
<% end %>

<div class="container-fluid">
  <div class="row" id="names-results">

    <div class="col-md-6 col-md-offset-3 col-sm-12">
      <br><br>
      <h3>Let us know about your preferences</h3>
      <form id="search-form"  action="javascript:App.names.refreshList()">

        <div class="parents text-center">
          <div class="parent">
            <%= image_tag "farmer.png", width: "100px"%>

            <input type="text" name="origin1" placeholder="Dad's origin"
              type="text"
              class="form-control"
              autocomplete="off">
          </div>
          <div class="and-or"name="join">
            <input type="hidden" name="join">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" value="and">AND</button>
              <button type="button" class="btn btn-default" value="or">OR</button>
            </div>
          </div>
          <div class="parent">
            <%= image_tag "doctor.png", width: "100px"%>

            <input type="text" name="origin2" placeholder="Mum's origin"
              type="text"
              class="form-control"
              autocomplete="off">
          </div>
        </div>

        <div class="preferences text-center">

          <div class="form-grouping" name="occurrence">
            <input type="hidden" name="occurrence">
            <label>Occurrence</label>
            <br>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" value="very rare">Very rare</button>
              <button type="button" class="btn btn-default" value="rare">Rare</button>
              <button type="button" class="btn btn-default" value="moderate">Moderate</button>
              <button type="button" class="btn btn-default" value="common">Common</button>
            </div>
          </div>

          <div class="form-grouping" name="length">
            <input type="hidden" name="length">
            <label>Length</label>
            <br>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" value="short">Short</button>
              <button type="button" class="btn btn-default" value="medium">Medium</button>
              <button type="button" class="btn btn-default" value="long">Long</button>
            </div>
          </div>

        </div>
        <input type="submit" style="display: none">

      </form>

      <br>

      <h3>Here are our name suggestions for your baby:</h3>
      <div id="names-list">

        <!-- Names inserted via Javascript -->

      </div>

    </div>

  </div>
</div>

<script id="name-entry" type="x-tmpl-mustache">
  <div class="name-card">
    <div class="name-result">
      <a href="/name?name={{name.name}}">
        {{name.name}}
      </a>
    </div>
    <div style="text-align: center;" data-href="https://nomonomo.herokuapp.com/name?name={{name}}" data-layout="button" data-mobile-iframe="true">
      <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fnomonomo.herokuapp.com/name?name={{name.name}}%2F&amp;src=sdkpreparse">
         <i class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</script>

<script>

  document.addEventListener('turbolinks:load', function() {

    console.log('load page')

    if($('#names-results').size() !== 0 && !$('#names-results').data('registered')) {
      App.names.register();
      $('#names-results').data('registered', true);
    }

  });

</script>
</div>
