<% if @found_name.empty? %>
<div class="alert alert-danger">
  Oh no, we cannot find that name!
  </div>
<% else %>
  <% @found_name.each do |name| %>

  <p style="margin: 1em 0 0.5em 1em">
    <%= name.name %>
    (<%= name.gender %>)
    <span class="badge" style="margin-right: 1em">
      <%= name.metaphone %>
    </span>
    <% end %>

    <ul>
    <% @origins.each do |origin| %>
      <li>
        <%= origin.origin %>
      </li>
    <% end %>
    </ul>
  </p>

<% end %>
<%# raise %>
