.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon.flag-icon-squared {
  width: 1em;
}
.flag-icon-ad {
  background-image: url(image_path(flags/ad));
}
.flag-icon-Arab {
  background-image: url(image_path(flags/ae));
}
.flag-icon-af {
  background-image: url(image_path(flags/af));
}
.flag-icon-ag {
  background-image: url(image_path(flags/ag));
}
.flag-icon-ai {
  background-image: url(image_path(flags/ai));
}
.flag-icon-Albanian {
  background-image: url(image_path(flags/al));
}
.flag-icon-Armenian {
  background-image: url(image_path(flags/am));
}
.flag-icon-ao {
  background-image: url(image_path(flags/ao));
}
.flag-icon-aq {
  background-image: url(image_path(flags/aq));
}
.flag-icon-ar {
  background-image: url(image_path(flags/ar));
}
.flag-icon-as {
  background-image: url(image_path(flags/as));
}
.flag-icon-at {
  background-image: url(image_path(flags/at));
}
.flag-icon-au {
  background-image: url(image_path(flags/au));
}
.flag-icon-aw {
  background-image: url(image_path(flags/aw));
}
.flag-icon-ax {
  background-image: url(image_path(flags/ax));
}
.flag-icon-Azerbaijani {
  background-image: url(image_path(flags/az));
}
.flag-icon-Bosnian {
  background-image: url(image_path(flags/ba));
}
.flag-icon-bb {
  background-image: url(image_path(flags/bb));
}
.flag-icon-bd {
  background-image: url(image_path(flags/bd));
}
.flag-icon-be {
  background-image: url(image_path(flags/be));
}
.flag-icon-bf {
  background-image: url(image_path(flags/bf));
}
.flag-icon-Bulgarian {
  background-image: url(image_path(flags/bg));
}
.flag-icon-bh {
  background-image: url(image_path(flags/bh));
}
.flag-icon-bi {
  background-image: url(image_path(flags/bi));
}
.flag-icon-bj {
  background-image: url(image_path(flags/bj));
}
.flag-icon-bl {
  background-image: url(image_path(flags/bl));
}
.flag-icon-bm {
  background-image: url(image_path(flags/bm));
}
.flag-icon-bn {
  background-image: url(image_path(flags/bn));
}
.flag-icon-bo {
  background-image: url(image_path(flags/bo));
}
.flag-icon-bq {
  background-image: url(image_path(flags/bq));
}
.flag-icon-Brazilian {
  background-image: url(image_path(flags/br));
}
.flag-icon-bs {
  background-image: url(image_path(flags/bs));
}
.flag-icon-bt {
  background-image: url(image_path(flags/bt));
}
.flag-icon-bv {
  background-image: url(image_path(flags/bv));
}
.flag-icon-bw {
  background-image: url(image_path(flags/bw));
}
.flag-icon-Belarusian {
  background-image: url(image_path(flags/by));
}
.flag-icon-bz {
  background-image: url(image_path(flags/bz));
}
.flag-icon-Canada {
  background-image: url(image_path(flags/ca));
}
.flag-icon-cc {
  background-image: url(image_path(flags/cc));
}
.flag-icon-cd {
  background-image: url(image_path(flags/cd));
}
.flag-icon-cf {
  background-image: url(image_path(flags/cf));
}
.flag-icon-cg {
  background-image: url(image_path(flags/cg));
}
.flag-icon-Swiss {
  background-image: url(image_path(flags/ch));
}
.flag-icon-ci {
  background-image: url(image_path(flags/ci));
}
.flag-icon-ck {
  background-image: url(image_path(flags/ck));
}
.flag-icon-cl {
  background-image: url(image_path(flags/cl));
}
.flag-icon-cm {
  background-image: url(image_path(flags/cm));
}
.flag-icon-Chinese {
  background-image: url(image_path(flags/cn));
}
.flag-icon-co {
  background-image: url(image_path(flags/co));
}
.flag-icon-cr {
  background-image: url(image_path(flags/cr));
}
.flag-icon-cu {
  background-image: url(image_path(flags/cu));
}
.flag-icon-cv {
  background-image: url(image_path(flags/cv));
}
.flag-icon-cw {
  background-image: url(image_path(flags/cw));
}
.flag-icon-cx {
  background-image: url(image_path(flags/cx));
}
.flag-icon-cy {
  background-image: url(image_path(flags/cy));
}
.flag-icon-Czech {
  background-image: url(image_path(flags/cz));
}
.flag-icon-German {
  background-image: url(image_path(flags/de));
}
.flag-icon-dj {
  background-image: url(image_path(flags/dj));
}
.flag-icon-Danish {
  background-image: url(image_path(flags/dk));
}
.flag-icon-dm {
  background-image: url(image_path(flags/dm));
}
.flag-icon-do {
  background-image: url(image_path(flags/do));
}
.flag-icon-dz {
  background-image: url(image_path(flags/dz));
}
.flag-icon-ec {
  background-image: url(image_path(flags/ec));
}
.flag-icon-Estonian {
  background-image: url(image_path(flags/ee));
}
.flag-icon-eg {
  background-image: url(image_path(flags/eg));
}
.flag-icon-eh {
  background-image: url(image_path(flags/eh));
}
.flag-icon-er {
  background-image: url(image_path(flags/er));
}
.flag-icon-Spanish {
  background-image: url(image_path(flags/es));
}
.flag-icon-Ethiopian {
  background-image: url(image_path(flags/et));
}
.flag-icon-Finnish {
  background-image: url(image_path(flags/fi));
}
.flag-icon-fj {
  background-image: url(image_path(flags/fj));
}
.flag-icon-fk {
  background-image: url(image_path(flags/fk));
}
.flag-icon-fm {
  background-image: url(image_path(flags/fm));
}
.flag-icon-Faroese {
  background-image: url(image_path(flags/fo));
}
.flag-icon-French {
  background-image: url(image_path(flags/fr));
}
.flag-icon-ga {
  background-image: url(image_path(flags/ga));
}
.flag-icon-gb {
  background-image: url(image_path(flags/gb));
}
.flag-icon-gd {
  background-image: url(image_path(flags/gd));
}
.flag-icon-Georgian {
  background-image: url(image_path(flags/ge));
}
.flag-icon-gf {
  background-image: url(image_path(flags/gf));
}
.flag-icon-gg {
  background-image: url(image_path(flags/gg));
}
.flag-icon-gh {
  background-image: url(image_path(flags/gh));
}
.flag-icon-gi {
  background-image: url(image_path(flags/gi));
}
.flag-icon-gl {
  background-image: url(image_path(flags/gl));
}
.flag-icon-gm {
  background-image: url(image_path(flags/gm));
}
.flag-icon-gn {
  background-image: url(image_path(flags/gn));
}
.flag-icon-gp {
  background-image: url(image_path(flags/gp));
}
.flag-icon-gq {
  background-image: url(image_path(flags/gq));
}
.flag-icon-Greek {
  background-image: url(image_path(flags/gr));
}
.flag-icon-gs {
  background-image: url(image_path(flags/gs));
}
.flag-icon-gt {
  background-image: url(image_path(flags/gt));
}
.flag-icon-gu {
  background-image: url(image_path(flags/gu));
}
.flag-icon-gw {
  background-image: url(image_path(flags/gw));
}
.flag-icon-gy {
  background-image: url(image_path(flags/gy));
}
.flag-icon-hk {
  background-image: url(image_path(flags/hk));
}
.flag-icon-hm {
  background-image: url(image_path(flags/hm));
}
.flag-icon-hn {
  background-image: url(image_path(flags/hn));
}
.flag-icon-Croatian {
  background-image: url(image_path(flags/hr));
}
.flag-icon-ht {
  background-image: url(image_path(flags/ht));
}
.flag-icon-Hungarian {
  background-image: url(image_path(flags/hu));
}
.flag-icon-id {
  background-image: url(image_path(flags/id));
}
.flag-icon-Irish {
  background-image: url(image_path(flags/ie));
}
.flag-icon-Hebrew {
  background-image: url(image_path(flags/il));
}
.flag-icon-im {
  background-image: url(image_path(flags/im));
}
.flag-icon-Indian {
  background-image: url(image_path(flags/in));
}
.flag-icon-io {
  background-image: url(image_path(flags/io));
}
.flag-icon-iq {
  background-image: url(image_path(flags/iq));
}
.flag-icon-Iranian {
  background-image: url(image_path(flags/ir));
}
.flag-icon-Icelandic {
  background-image: url(image_path(flags/is));
}
.flag-icon-Italian {
  background-image: url(image_path(flags/it));
}
.flag-icon-je {
  background-image: url(image_path(flags/je));
}
.flag-icon-jm {
  background-image: url(image_path(flags/jm));
}
.flag-icon-jo {
  background-image: url(image_path(flags/jo));
}
.flag-icon-Japanese {
  background-image: url(image_path(flags/jp));
}
.flag-icon-ke {
  background-image: url(image_path(flags/ke));
}
.flag-icon-Kyrgyz {
  background-image: url(image_path(flags/kg));
}
.flag-icon-kh {
  background-image: url(image_path(flags/kh));
}
.flag-icon-ki {
  background-image: url(image_path(flags/ki));
}
.flag-icon-km {
  background-image: url(image_path(flags/km));
}
.flag-icon-kn {
  background-image: url(image_path(flags/kn));
}
.flag-icon-kp {
  background-image: url(image_path(flags/kp));
}
.flag-icon-Korean {
  background-image: url(image_path(flags/kr));
}
.flag-icon-kw {
  background-image: url(image_path(flags/kw));
}
.flag-icon-ky {
  background-image: url(image_path(flags/ky));
}
.flag-icon-kz {
  background-image: url(image_path(flags/kz));
}
.flag-icon-la {
  background-image: url(image_path(flags/la));
}
.flag-icon-lb {
  background-image: url(image_path(flags/lb));
}
.flag-icon-lc {
  background-image: url(image_path(flags/lc));
}
.flag-icon-li {
  background-image: url(image_path(flags/li));
}
.flag-icon-lk {
  background-image: url(image_path(flags/lk));
}
.flag-icon-lr {
  background-image: url(image_path(flags/lr));
}
.flag-icon-ls {
  background-image: url(image_path(flags/ls));
}
.flag-icon-Lithuanian {
  background-image: url(image_path(flags/lt));
}
.flag-icon-lu {
  background-image: url(image_path(flags/lu));
}
.flag-icon-Latvian {
  background-image: url(image_path(flags/lv));
}
.flag-icon-ly {
  background-image: url(image_path(flags/ly));
}
.flag-icon-ma {
  background-image: url(image_path(flags/ma));
}
.flag-icon-mc {
  background-image: url(image_path(flags/mc));
}
.flag-icon-md {
  background-image: url(image_path(flags/md));
}
.flag-icon-Montenegrin {
  background-image: url(image_path(flags/me));
}
.flag-icon-mf {
  background-image: url(image_path(flags/mf));
}
.flag-icon-mg {
  background-image: url(image_path(flags/mg));
}
.flag-icon-mh {
  background-image: url(image_path(flags/mh));
}
.flag-icon-mk {
  background-image: url(image_path(flags/mk));
}
.flag-icon-ml {
  background-image: url(image_path(flags/ml));
}
.flag-icon-mm {
  background-image: url(image_path(flags/mm));
}
.flag-icon-mn {
  background-image: url(image_path(flags/mn));
}
.flag-icon-mo {
  background-image: url(image_path(flags/mo));
}
.flag-icon-mp {
  background-image: url(image_path(flags/mp));
}
.flag-icon-mq {
  background-image: url(image_path(flags/mq));
}
.flag-icon-mr {
  background-image: url(image_path(flags/mr));
}
.flag-icon-ms {
  background-image: url(image_path(flags/ms));
}
.flag-icon-mt {
  background-image: url(image_path(flags/mt));
}
.flag-icon-mu {
  background-image: url(image_path(flags/mu));
}
.flag-icon-mv {
  background-image: url(image_path(flags/mv));
}
.flag-icon-mw {
  background-image: url(image_path(flags/mw));
}
.flag-icon-mx {
  background-image: url(image_path(flags/mx));
}
.flag-icon-my {
  background-image: url(image_path(flags/my));
}
.flag-icon-mz {
  background-image: url(image_path(flags/mz));
}
.flag-icon-na {
  background-image: url(image_path(flags/na));
}
.flag-icon-nc {
  background-image: url(image_path(flags/nc));
}
.flag-icon-ne {
  background-image: url(image_path(flags/ne));
}
.flag-icon-nf {
  background-image: url(image_path(flags/nf));
}
.flag-icon-ng {
  background-image: url(image_path(flags/ng));
}
.flag-icon-ni {
  background-image: url(image_path(flags/ni));
}
.flag-icon-Dutch {
  background-image: url(image_path(flags/nl));
}
.flag-icon-Norwegian {
  background-image: url(image_path(flags/no));
}
.flag-icon-Nepalese {
  background-image: url(image_path(flags/np));
}
.flag-icon-nr {
  background-image: url(image_path(flags/nr));
}
.flag-icon-nu {
  background-image: url(image_path(flags/nu));
}
.flag-icon-nz {
  background-image: url(image_path(flags/nz));
}
.flag-icon-om {
  background-image: url(image_path(flags/om));
}
.flag-icon-pa {
  background-image: url(image_path(flags/pa));
}
.flag-icon-pe {
  background-image: url(image_path(flags/pe));
}
.flag-icon-Polynesian {
  background-image: url(image_path(flags/pf));
}
.flag-icon-pg {
  background-image: url(image_path(flags/pg));
}
.flag-icon-Filipino {
  background-image: url(image_path(flags/ph));
}
.flag-icon-Pakistani {
  background-image: url(image_path(flags/pk));
}
.flag-icon-Polish {
  background-image: url(image_path(flags/pl));
}
.flag-icon-pm {
  background-image: url(image_path(flags/pm));
}
.flag-icon-pn {
  background-image: url(image_path(flags/pn));
}
.flag-icon-pr {
  background-image: url(image_path(flags/pr));
}
.flag-icon-ps {
  background-image: url(image_path(flags/ps));
}
.flag-icon-Portuguese {
  background-image: url(image_path(flags/pt));
}
.flag-icon-pw {
  background-image: url(image_path(flags/pw));
}
.flag-icon-py {
  background-image: url(image_path(flags/py));
}
.flag-icon-qa {
  background-image: url(image_path(flags/qa));
}
.flag-icon-re {
  background-image: url(image_path(flags/re));
}
.flag-icon-Romanian {
  background-image: url(image_path(flags/ro));
}
.flag-icon-Serbian {
  background-image: url(image_path(flags/rs));
}
.flag-icon-Russian {
  background-image: url(image_path(flags/ru));
}
.flag-icon-rw {
  background-image: url(image_path(flags/rw));
}
.flag-icon-sa {
  background-image: url(image_path(flags/sa));
}
.flag-icon-sb {
  background-image: url(image_path(flags/sb));
}
.flag-icon-sc {
  background-image: url(image_path(flags/sc));
}
.flag-icon-sd {
  background-image: url(image_path(flags/sd));
}
.flag-icon-Swedish {
  background-image: url(image_path(flags/se));
}
.flag-icon-sg {
  background-image: url(image_path(flags/sg));
}
.flag-icon-sh {
  background-image: url(image_path(flags/sh));
}
.flag-icon-si {
  background-image: url(image_path(flags/si));
}
.flag-icon-sj {
  background-image: url(image_path(flags/sj));
}
.flag-icon-Slovak {
  background-image: url(image_path(flags/sk));
}
.flag-icon-Slovene {
  background-image: url(image_path(flags/sl));
}
.flag-icon-sm {
  background-image: url(image_path(flags/sm));
}
.flag-icon-sn {
  background-image: url(image_path(flags/sn));
}
.flag-icon-so {
  background-image: url(image_path(flags/so));
}
.flag-icon-sr {
  background-image: url(image_path(flags/sr));
}
.flag-icon-ss {
  background-image: url(image_path(flags/ss));
}
.flag-icon-st {
  background-image: url(image_path(flags/st));
}
.flag-icon-sv {
  background-image: url(image_path(flags/sv));
}
.flag-icon-sx {
  background-image: url(image_path(flags/sx));
}
.flag-icon-sy {
  background-image: url(image_path(flags/sy));
}
.flag-icon-sz {
  background-image: url(image_path(flags/sz));
}
.flag-icon-tc {
  background-image: url(image_path(flags/tc));
}
.flag-icon-td {
  background-image: url(image_path(flags/td));
}
.flag-icon-tf {
  background-image: url(image_path(flags/tf));
}
.flag-icon-tg {
  background-image: url(image_path(flags/tg));
}
.flag-icon-th {
  background-image: url(image_path(flags/th));
}
.flag-icon-tj {
  background-image: url(image_path(flags/tj));
}
.flag-icon-tk {
  background-image: url(image_path(flags/tk));
}
.flag-icon-tl {
  background-image: url(image_path(flags/tl));
}
.flag-icon-tm {
  background-image: url(image_path(flags/tm));
}
.flag-icon-tn {
  background-image: url(image_path(flags/tn));
}
.flag-icon-to {
  background-image: url(image_path(flags/to));
}
.flag-icon-Turkish {
  background-image: url(image_path(flags/tr));
}
.flag-icon-tt {
  background-image: url(image_path(flags/tt));
}
.flag-icon-tv {
  background-image: url(image_path(flags/tv));
}
.flag-icon-tw {
  background-image: url(image_path(flags/tw));
}
.flag-icon-tz {
  background-image: url(image_path(flags/tz));
}
.flag-icon-Ukrainian {
  background-image: url(image_path(flags/ua));
}
.flag-icon-ug {
  background-image: url(image_path(flags/ug));
}
.flag-icon-um {
  background-image: url(image_path(flags/um));
}
.flag-icon-us {
  background-image: url(image_path(flags/us));
}
.flag-icon-uy {
  background-image: url(image_path(flags/uy));
}
.flag-icon-uz {
  background-image: url(image_path(flags/uz));
}
.flag-icon-va {
  background-image: url(image_path(flags/va));
}
.flag-icon-vc {
  background-image: url(image_path(flags/vc));
}
.flag-icon-ve {
  background-image: url(image_path(flags/ve));
}
.flag-icon-vg {
  background-image: url(image_path(flags/vg));
}
.flag-icon-vi {
  background-image: url(image_path(flags/vi));
}
.flag-icon-vn {
  background-image: url(image_path(flags/vn));
}
.flag-icon-vu {
  background-image: url(image_path(flags/vu));
}
.flag-icon-wf {
  background-image: url(image_path(flags/wf));
}
.flag-icon-ws {
  background-image: url(image_path(flags/ws));
}
.flag-icon-ye {
  background-image: url(image_path(flags/ye));
}
.flag-icon-yt {
  background-image: url(image_path(flags/yt));
}
.flag-icon-za {
  background-image: url(image_path(flags/za));
}
.flag-icon-zm {
  background-image: url(image_path(flags/zm));
}
.flag-icon-zw {
  background-image: url(image_path(flags/zw));
}
.flag-icon-eu {
  background-image: url(image_path(flags/eu));
}
.flag-icon-English{
  background-image: url(image_path(flags/gb));
}

.flag-icon-un {
  background-image: url(image_path(flags/un));
}
