
.wrapper-grey {
  background-image: url('bg-blur.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 92.6vh;
}

.question_box{
  background-color: white;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  border-radius: 2px;
  padding: 30px;
  margin-top: 20px;
}


.form-group{
  font-size: 20px;
}

.title{
  margin-top: 80px;
}
