.wrapper-image-blur-info {
  background-image: url('bg-blur.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 92.6vh;
}

#name-info-container {

  opacity: 0.9;
  padding: 1rem;
  box-shadow: 2px 2px 4px 3px rgba(0,0,0,0.04);
  background-color: white;
  border-radius: 3px;
  margin-top: 4rem;

}


.page-name{
  font-size: 60px;
  font-style: bold;
  text-align: center;
  padding-top: 50px;
}

.countries-box{
  opacity: 0.8;
  margin-top: 30px;
  text-align: center;
}

#name-origin-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.name-origin {
  flex: 0 0 100px;
  padding: 1rem;
  text-align: center;
  box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.04);
  margin: 10px 10px 0 0;
  background-color: #F3F3F3;
  opacity: 0.8;
  display: flex;
}

.similar-names-box{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  flex: 0 0 100px;
  box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.04);
  margin: 35px 10px 15px 0;
  background-color: #F3F3F3;
  opacity: 0.8;
}
.similar-names a{
  color: #494949;
  padding: 2px;
  margin: 5px;
  padding: 1rem;

}

.label {
  font-family: 'Josefin Sans';
  font-size: 15px;
}


.facebook{
  text-align: right;
}

.name-flag {
      width: 20px;
    height: 20px;
    background-size: cover;
    margin-right: 10px;
    margin-top: 2px;
}
