<div class="nomo-navbar">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">

        <div class="nomo-navbar-content">

          <a href="/">
            <%= image_tag "logo2.png" %>
          </a>

          <%= form_tag({:controller => "names", :action => "name"}, {:method => :get}) do %>
          <%= text_field_tag :name, nil, placeholder: "search for a name" %>
          <% end %>

        </div>

      </div>
    </div>
  </div>
</div>
