<div class="nomo-navbar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-12">

        <div class="nomo-navbar-content">

          <div class=logo>
            <a href="/">
              <%= image_tag "logo2.png" %>
            </a>
          </div>

    <!--       <div class="snowflakes">
            <a href="snowflakes">
              <%= image_tag "snowflakes.png" %>
            </a>
          </div> -->

          <%= form_tag({:controller => "names", :action => "name"}, {:method => :get}) do %>
          <%= text_field_tag :name, nil, placeholder: "search for a name" %>
          <% end %>

        </div>

      </div>
    </div>
  </div>
</div>
