<% @result.each do |n|  %>
<p><%= n.name %></p>
<p><%= n.first_letter %></p>
<%end  %>







<div class="container text-center">
  <div class="row">
    <div class="col-md-6 col-offset-3">
      <h1>Categories Page</h1>
      Please select your Categories:

      <!-- <label class="check_boxes optional control-label">Gender</label>
      <label class="checkbox">
        <div class="controls">
          <label class="checkbox">
          <input class="check_boxes optional" id="program_origin_english" name="program[origin][]" type="checkbox" value="English" />English</label>

          <label class="checkbox">
          <input class="check_boxes optional" id="program_origin_portuguese" name="program[origin][]" type="checkbox" value="Portuguese" />Portuguese</label> -->


      <label class="check_boxes optional control-label">Origin</label>
      <label class="checkbox">
        <div class="controls">
          <label class="checkbox">
          <input class="check_boxes optional" id="program_origin_english" name="program[origin][]" type="checkbox" value="English" />English</label>

          <label class="checkbox">
          <input class="check_boxes optional" id="program_origin_portuguese" name="program[origin][]" type="checkbox" value="Portuguese" />Portuguese</label>

          <label class="checkbox">
          <input class="check_boxes optional" id="program_origin_italian" name="program[origin][]" type="checkbox" value="Italian" />Italian</label>

          <label class="checkbox">
          <input class="check_boxes optional" id="program_origin_german" name="program[origin][]" type="checkbox" value="German" />German</label>

          <label class="checkbox">
          <input class="check_boxes optional" id="program_origin_polish" name="program[origin][]" type="checkbox" value="Polish" />Polish</label>
          <input name="program[languages][]" type="hidden" value="" />
        </div>
      <!-- <h2>First Letter</h2> -->
    </div>
  </div>
</div>
