<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">

      <h1> Let's find your baby's name</h1>


      <div class="col-sx-6 col-offset-3">

        <div class="btn-group" role="group" aria-label="...">
          <a type="button" class="btn btn-default"
              href="names?gender=masculine">
            <i class="fa fa-fw fa-male"></i>
          </a>
          <a type="button" class="btn btn-default"
              href="names?gender=feminine">
            <i class="fa fa-fw fa-female"></i>
          </a>
        </div>

      </div>

    </div>
  </div>
</div>
