<!--<#% @result.each do |n|  %>
<p><#%= n.name %></p>
<#%end  %>-->


<div class="background_image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/172256/pexels-photo-172256.jpeg');">
  <div class="banner-content">
    <div class="container text-center">
      <div class="row">


        <br>
        <!-- GENDER -->
        <div class="col-sx-6 col-offset-3">
        <% if session[:gender].nil? %>
          <%= render 'gender', gender: @gender %>
        <% elsif cookies[:soundex].nil? %>
          <%= render 'soundex' %>
          <% else %>
          <%= render 'selection'%>
        <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

 <!-- session[:gender].present? -->
