<div class="wrapper-image"></div>

<div class="container nomo-home-container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 text-center">
      <h1>Find the name your baby will love!</h1>
      <div class="question-gender">
      <h3>What are you expecting?</h3>
      </div>
      <br>
      <br>
    </div>
  </div>

  <div class="nomo-baby-container">

    <a type="button" class="gender_card"
      href="names/?gender=masculine">
      <%= image_tag "baby-boy-transparent.png" %>
    </a>

    <a type="button" class="gender_card"
      href="names/?gender=feminine">
      <%= image_tag "baby-girl-transparent.png" %>
    </a>

  </div>

</div>
