
<div class="wrapper-image">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 text-center">

        <h1> Find the name your baby will love! </h1>

        <h3> What are you expecting?</h3>
        <br><br>

        <div class="row">
        <div class="col-xs-6">
            <a class="gender_card"
            href="names/?gender=masculine">
            <%= image_tag "baby-boy-transparent.png", width: "250" %>
          </a>
        </div>

        <div class="col-xs-6">
          <a type="button" class="gender_card" href="names/?gender=feminine">
            <%= image_tag "baby-girl-transparent.png", width: "250" %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
